* {
    margin: 0;
    padding: 0;
}

::selection, 
header a:hover, 
.scenario,
#topbutt {
    color: rgb(226, 205, 103);
    background-color: rgb(204, 102, 153); /* keeping the theme colors throughout the site */
}

header ul, 
.titlerow1, 
.titlerow2 {
    background-color: rgb(226, 205, 103);
}

body {
    background-color: rgb(216, 209, 193);             /* APPLY BOXES */
}

h1 { 
    margin: 10px 10px;
    padding: 20px 20px;
    text-shadow: 4px 5px 4px black;
    font-family: "Nabla";
    font-size: 60px;
    text-align: center;
    font-display: swap;
}

h2 {
    font-family: "Roboto Condensed";
    font-size: 30px;
    text-align: start;
    font-display: swap; /* in case there is problems with loading the text */ 
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(226, 205, 103);
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0px 10px; 
}

header a {
    text-decoration: none;
}

#about {
    background-image: linear-gradient(to right, rgb(236, 128, 149), rgb(210, 190, 62));
}

#work,
#inspirations,
#contact {
    background-color: rgb(205, 196, 175);
}

.meal {
    background-color: rgb(218, 197, 207);
}

.RAPlist {
    list-style-type: lower-roman;
} 
/*spruce up*/

.inspos {
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 3px black;
}
/* add some scroll features here */

footer {
    display: flex;
    background-color: rgb(188, 163, 129);
    padding: 30px;
    flex-direction: column;
    text-align: center;
    row-gap: 20px;
}
/* add some bottom nav */

.contacts {
    display: flex;
    list-style: none;
    justify-content: center;
    column-gap: 18px;
}
/* spruce up */

.contacts a {
    text-decoration: none;
    color: black;
    padding: 10px;
    background-color: rgb(160, 135, 100);
    border-radius: 10px;
}

.contacts a:hover {
    background-color: rgb(226, 205, 103);
}
/* color transition */

#topbutt {
    z-index: 99;
    position: fixed;
    right: 30px;
    bottom: 40px;
    cursor: pointer;
    font-family: "Roboto Condensed";
    font-size: 20px;
    font-display: swap;
    padding: 5px 15px;
}

/* animations (transition) */